$bgColor: rgba(240, 248, 255, 0.65);
$thumbColor:rgb(221, 218, 218);
$textcolor: rgb(65, 64, 64);
$secondTextColor: rgb(46, 46, 46);
$inputBg :rgba(183, 192, 202, 0.8);
$baseBlue: rgb(133, 155, 245);
$errorcolor: rgb(217, 28, 28);
$breakpointWidthOne:720px;
$breakpointWidthTwo:520px;
$breakpointWidthThree:389px;
$breakpointHeigthOne:680px;
$breakpointHeigthTwo:550px;

